h5 {
    color: gray;
}

h3 {
    color: red;
}

body {
    background-image: url("https://il6.picdn.net/shutterstock/videos/10658729/thumb/4.jpg");
    background-color: white;
}

.backg {
    background-color: white;
}

.header {
    color: #990000;
    font-size: 50px;
    text-align: center;
    background-image: url(https://giirlgonegeek.files.wordpress.com/2014/12/evan-peters.jpg)
}