h5 {
    color: gray;
    text-align: center;
}

h3 {
    color: red;
    text-align: center;
}

img {
    border-radius: 30px;
}

body {
    background: url("http://wallpaperbeta.com/wallpaper_gray/gray_forest_background_coniferous_fog_nature_hd-wallpaper-364814.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.backg {
    background-color: white;
    padding: 30px;
}

.header {
    color: maroon;
    font-size: 50px;
    text-align: center;
    background-color: black;
}

.nav ul {
  list-style: none;
  background-color: #DCDCDC;
  text-align: center;
  padding: 0;
  margin: 8;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 20px;
  height: 25px;
  border-bottom: 1px solid black;
}
 
.nav a {
  text-decoration: none;
  color: #0095B6;
  display: block;
  transition: .3s
}
 
.nav a:hover {
  background-color: #005f5f;
}