body {
    background: url("http://www.partyponty.hu/system/post_pictures/4075/original/american_horror_story_kezdolap.jpg?1384816130") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    background-color: bisque;
    padding: 30px;
    background-image: url(http://66.media.tumblr.com/adbce59474ed13ef8edbb933f938969a/tumblr_inline_nyl3nuCm701tfeqet_400.jpg);
}

h1 {
    text-align: center;
    background-color: beige;
}

h3 {
    text-align: center;
}

.backg {
    background-color: white;
    padding: 30px;
}

img {
    padding: 20px;
}

p {
    padding-top: 20px;
}

.nav ul {
  list-style: none;
  background-color: #DCDCDC;
  text-align: center;
  padding: 0;
  margin: 8;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 20px;
  height: 25px;
  border-bottom: 1px solid black;
}
 
.nav a {
  text-decoration: none;
  color: #0095B6;
  display: block;
  transition: .3s
}
 
.nav a:hover {
  background-color: #005f5f;
}